          <p>Some countries are not in UN dataset, so we can not analyse them by population. They can be found at the end of the   <a href="../notebooks/data_engineering.ipynb"><i>data_engineering.ipynb</i></a>.</p>
        </div>
        <div class="container">
          <h3>Cases and deaths</h3>
          <p><img src="../analysis/world_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Cases, deaths and recoveries per million</h3>
          <p>Million of population normalizes the numbers in such way we can compare them among the countries in a reasanoble way. The moving average allow us to see the downs and ups of the curves, that is, when the situation begins to decrease (or get better ) in a country.</p>
          <p>It is possible to observe how agressive is the pandemic in Italy, Spain and mainly in Belgium, where the leader denied feaverly to close the country.</p>
          <p><img src="../analysis/world_cases_deaths_million.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Active cases, % recoveries and mortality</h3>
          <p><img src="../analysis/world_active_cases_percentages.png" alt="" width='100%'></p>
        </div>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>
    
</body>
</html>
