         <p>Alguns países não estão no *dataset* da ONU, então não conseguimos analisá-los por sua populações. Estes podem ser encontrados fim do notebook <a href="../notebooks/data_engineering.ipynb"><i>data_engineering.ipynb</i></a>.</p>
       </div>
      </div>
        <div class="container">
          <h3>Casos e mortes</h3>
          <p><img src="../analysis/world_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Casos, mortes e recuperações por milhão</h3>
          <p>Milhão de população normaliza os números de modo que a comparação entre países fique mais adequada. A média móvel nos permite ver descidas nas curvas, ou seja, quando a situação começa diminuir (ou melhorar) em um país.</p>
          <p>É possível observar a agressividade da pandemia na Italia, Espanha e principalmente a da Bélgica, cujo líder se negou a fechar o país.</p>
          <p><img src="../analysis/world_cases_deaths_million.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Casos ativos, uma visão mundial, % de recuperações e mortalidade</h3>
          <p><img src="../analysis/world_active_cases_percentages.png" alt="" width='100%'></p>
        </div>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>
    
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="   crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
