        <div class="container">
          <h3>Cases and deaths among the brazilian states</h3>
          <p><img src="../analysis/brazilian_states_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3 id='spComparativo'>Cases, deaths and recoveries in Brazil/h3>
          <p><img src="../analysis/brazil_number_million_variation.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Moving average of the last 7 days</h3>
          <p><img src="../analysis/brazil_movingAvg.png" alt=""></p>
        </div>
        <br>
        <div class="container">
          <h3>Active cases, % recoveries and mortality</h3>
          <p><img src="../analysis/world_active_cases_percentages.png" alt="" width='100%'></p>
        </div>
        <br>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>

</body>
</html>
