        <div class="container">
          <h3>Cases and deaths among the brazilian states</h3>
          <p><img src="../analysis/brazil_cases_deaths_thousand.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3 id='spComparativo'>Cases, deaths and recoveries in Brazil</h3>
          <p><img src="../analysis/brazil_number_variation.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Absolute numbers</h3>
          <p><img src="../analysis/brazilian_states_cases_deaths.png" alt=""></p>
        </div>
        <br>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>

</body>
</html>
