        <div class="container">
          <h3 id='spComparativo'>Casos e mortes pelos estados brasilieiros</h3>
          <p><img src="../analysis/brazil_cases_deaths_thousand.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Casos, mortes e recuperações no Brasil</h3>
          <p><img src="../analysis/brazil_number_variation.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Números absolutos</h3>
          <p><img src="../analysis/brazilian_states_cases_deaths.png" alt="" width='100%' ></p>
        </div>
        <br>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>
    
</body>
</html>
