        
          <p style="font-size:14px"><i>Estas informações são para uso próprio e não devem ser utilizadas para direcionamentos médicos e/ou políticas públicas.</i></p>
        </div>
      </div>
        <div class="container">
          <br>
          <h3 id="mortalidade-dos-estados-brasileiros">Mortalidade dos estados brasileiros</h3>
          <p>O nível de mortalidade demonstrado no mapa é definido a partir da média móvel dos últimos 7 dias da mortalidade de cada estado.</p>
          <p style="font-size: 12px; font-style: italic;">Mova o mouse pelo mapa para detalhes de cada região.</p>
          <iframe src="../analysis/maps/brazilMapDeaths.html" width='100%' height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
        <div class="container">
          <h3>Trasmissibilidade dos estados brasileiros</h3>
          <p>O nível de transmissão demonstrado no mapa é definido a partir da média móvel dos últimos 7 dias do acumulado de casos de cada estado.</p>
          <p style="font-size: 12px; font-style: italic;">Mova o mouse pelo mapa para detalhes de cada região.</p>
          <iframe src="../analysis/maps/brazilMapCases.html" width='100%' height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
