        <div class="container">
          <h3>Cases and deaths in San Paulo city</h3>
          <p>These data of San Paulo city are too high than the other cities, so we plot them in a separed chart.</p>
          <p><img src="../analysis/saoPaulo_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Cases and deaths of the most transmissible cities in San Paulo state</h3>
          <p>Excluded San Paulo city</p>
          <p><img src="../analysis/saoPaulo_cities_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Cases and deaths</h3>
          <p><img src="../analysis/saoPaulo_cities_cases_deaths.png" alt=""  width='100%'></p>
        </div>
        <br>
        <div class="container">
          <a href="brazil_analysis_EN.html#spComparativo">Comparison of San Paulo among other Brazilian states can be found here.</a></p>
        </div>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>

</body>
</html>
