        <div class="container">
          <h3>Cases and deaths</h3>
          <p><img src="../analysis/saoPaulo_cities_cases_deaths.png" alt=""  width='100%'></p>
        </div>
        <br>
        <div class="container">
          <a href="brazil_analysis_EN.html#spComparativo">Comparison of San Paulo among other Brazilian states can be found here.</a></p>
        </div>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="   crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
