        </div>
      </div>
        <div class="container">
          <br>
          <h3 id="mortalidade-dos-estados-brasileiros">Mortality of the Sao Paulo's cities</h3>
          <p>The mortality level shown in this map is defined from the moving average of the last 7 days over the mortality percentage of each city.</p>
          <p style="font-size: 12px; font-style: italic;">Move the mouse over the map for each region details.</p>
          <iframe src="../analysis/maps/saoPauloMapDeaths.html" width=900px height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
        <div class="container">
          <h3>Transmission of the Sao Paulo's cities</h3>
          <p>O level of transmission on the map is defined from the moving average of the last 7 days of the cumulative cases of each city.</p>
          <p style="font-size: 12px; font-style: italic;">Move the mouse over the map for each region details.</p>
          <iframe src="../analysis/maps/saoPauloMapCases.html" width=900px height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
