      </div>
        <div class="container">
          <br>
          <h3 id="mortalidade-dos-estados-brasileiros">Mortes por mil habitantes pelos municípios paulistas</h3>
          <p style="font-size: 12px; font-style: italic;">Mova o mouse pelo mapa para detalhes de cada região.</p>
          <iframe src="../analysis/maps/saoPauloMapDeaths.html" width='100%' height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
        <div class="container">
          <h3>Caos por mil habitantes pelos municípios paulistas</h3>
          <p style="font-size: 12px; font-style: italic;">Mova o mouse pelo mapa para detalhes de cada região.</p>
          <iframe src="../analysis/maps/saoPauloMapCases.html" width='100%' height=550px>
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
          <br>
