        <div class="container">
          <h3>Casos e mortes na cidade de São Paulo</h3>
          <p>Os dados da cidade de São Paulo destoa das demais cidades o que prejudica a comparação em um mesmo gráfico, por isso os apresento separadamente.</p>
          <p><img src="../analysis/saoPaulo_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Casos e mortes das cidades com mais transimissão</h3>
          <p>Cidades mais transmissíveis com mais de 10.000 habitantes.</p>
          <p><img src="../analysis/saoPaulo_cities_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <h3>Casos e mortes de cidades do interior selecionadas</h3>
          <p><img src="../analysis/saoPaulo_selectedCities_cases_deaths.png" alt="" width='100%'></p>
        </div>
        <br>
        <div class="container">
          <a href="brazil_analysis.html#spComparativo">Comparativos de São Paulo com outros estados do Brasil podem ser encontratos aqui.</a></p>
        </div>
      <!-- </div> -->
    </main>

    <div id="externalFooter"></div>
    
</body>
</html>
